.container{
    width: 560px;
    height: 300px;
    background-color: steelblue;
    color: whitesmoke;
    font-size: large;
    font-weight: bolder;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 72px auto;
    border-radius: 36px;

    box-shadow: -9px -1px 71px 0px rgba(156,150,150,0.52);
-webkit-box-shadow: -9px -1px 71px 0px rgba(156,150,150,0.52);
-moz-box-shadow: -9px -1px 71px 0px rgba(156,150,150,0.52);
}